:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%);
  --accent-primary: 124, 58, 237;
  --accent-secondary: 161, 255, 236;
  --accent-gradient-primary: linear-gradient(45deg,
      rgb(var(--accent-primary)),
      #da62c4 30%,
      white 60%);
  --accent-gradient-secondary: linear-gradient(15deg,
      rgb(var(--accent-secondary)),
      #68e835 30%,
      white 40%);
  --font-mono: "__JetBrains_Mono_5cc6d4", "__JetBrains_Mono_Fallback_5cc6d4";
}

html {
  font-family: system-ui, sans-serif;
  background-color: rgb(17, 18, 23);
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

#csv-visualizer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 2rem;
}

#fileSelect {
  background-color: #111217;
  background-image: none;
  border: 1px solid #ccccdc26;
  border-radius: 4px;
  display: inline-block;
  color: #ccccdc;
  padding: 0rem 2rem;
  height: 31px;
  opacity:0.9;
}

#fileSelect:hover {
  cursor:pointer;
  opacity:1;
}


#fileSubmit {
  border: 1px solid rgb(120, 239, 166);
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  color: rgb(120, 239, 166);
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
}

#shareFile {
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  background-color: rgb(8, 8, 36);
  color: white;
  cursor: pointer;
  border: none;
  opacity: 0.8;
}

#deleteFile {
  border: 1px solid rgb(239, 120, 120);
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  color: rgb(239, 120, 120);
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
  /* &:active {
      background-color: none;
    } */
}

#fileDragAndDrop {
  border: none;
  border: 3px solid #031a1b;
  border-radius: 0.2rem;
  height: 4rem;
  width: 10rem;
  background-color: transparent;
  color: #925d42;
  cursor: default;
  opacity: 1;

  border-image: linear-gradient(45deg,
      teal 10%,
      transparent 10%,
      transparent 50%,
      transparent 50%,
      transparent 90%,
      teal 90%) 5;
}

#fileDetails {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: flex-start;
  align-items: flex-start; */
  color: rgba(204, 204, 220, 0.65);
}

#viewUploadedFile {
  border: 1px solid #e0f3f4;
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  background-color: rgb(181, 240, 192);
  color: white;
  cursor: pointer;
  /* &:active {
      background-color: none;
    } */
}

#uploadedFileDisplayedHere {
  border: 1px solid #e0f3f4;
  border-radius: 0.2rem;
  background-color: rgb(181, 240, 192);
  color: rgb(23, 23, 23);
  cursor: default;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#libName {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
  border-radius: 0.3rem;
  font-size: 14px;
}

#appName {
  color: rgb(120, 239, 166);
  padding: 0.2rem;
  border-radius: 0.3rem;
  font-size: 19px;
}

#appNameSubText {
  font-size: 12px;
  color: #d0aaf0;
  opacity: 0.9;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(135deg, rgba(235, 173, 204, 0.2), rgba(0, 0, 255, 0.1));
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.closeInstructionsSpan,
.closeRegisterSpan,
.closeAuthSpan,
.closeQuerySpan,
.closeUploadFileSpan {
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: rgba(255, 0, 0, 0.95);
  background-color: rgba(255, 0, 0, 0.2);
  padding: 0.3rem 0.6rem;
  /* border-radius: 50%; */
  border: 1px solid rgba(255, 0, 0, 0.15);
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 95%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.closeInstructionsSpan:hover,
.closeRegisterSpan:hover,
.closeAuthSpan:hover,
.closeQuerySpan:hover,
.closeUploadFileSpan:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.3);
}

#uploadFileModalContent {
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  border: 2px dashed rgba(204, 204, 220, 0.2);
  color: rgba(204, 204, 220, 0.65);
  background-color: rgb(24, 27, 31);
  padding: 2rem 2rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#queryModalContent {
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(204, 204, 220, 0.07);
  color: rgba(204, 204, 220, 0.65);
  background-color: rgb(24, 27, 31);
  padding: 2rem 2rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#authModalContent {
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(204, 204, 220, 0.07);
  color: rgba(204, 204, 220, 0.65);
  background-color: rgb(24, 27, 31);
  padding: 2rem 2rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#registerModalContent {
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(204, 204, 220, 0.07);
  color: rgba(204, 204, 220, 0.65);
  background-color: rgb(24, 27, 31);
  padding: 2rem 2rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#instructionsModalContent {
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(204, 204, 220, 0.07);
  color: rgba(204, 204, 220, 0.65);
  background-color: rgb(24, 27, 31);
  padding: 2rem 2rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#registerButton {
  background: transparent;
  background-image: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  color: #445fe4;
  height: 31px;
  margin-top: 1rem;
  opacity: 0.9;
}

#registerButton:hover {
  opacity: 1;
  cursor: pointer;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#title {
  background-color: transparent;
  padding: 0.4rem;
  font-family: var(--font-mono), JetBrains Mono, ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.headerOptions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0rem 0.9rem;
}

.headerOptions img {
  padding: 0.3rem;
  opacity: 0.7;
  border-radius: 5px;
  background: rgba(204, 204, 220, 0.16);
  color: rgb(204, 204, 220);
  border: 1px solid rgba(120, 239, 166, 0.2);
}

.headerOptions img:hover {
  background: rgba(204, 204, 220, 0.26);
  cursor: pointer;
}

.headerOptions img:active {
  background-color: #091625;
  cursor: pointer;
}

/* copy tooltip CSS */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 65px;
  background-color: rgb(0, 0, 0);
  color: #6cd8e9;
  text-align: center;
  /* border-radius: 4px; */
  padding: 0.5rem 0.1rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 0%;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  /* border-width: 10px; */
  /* border-style: solid; */
  /* border-color: rgb(0, 0, 0) transparent transparent transparent; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.primaryHalf {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: center; */
  gap: 4.5rem;
}

@media only screen and (max-width: 600px) {
  .primaryHalf {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* width: 100%;
    height: 100%; */
    align-items: center;
  }
}

/* #secondaryHalf {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #secondaryHalf {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
} */

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#actionbuttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  margin-top: -30px;
}

#myUploadBtn {
  border-radius: 2px;
  height: 2rem;
  /* width: 10rem; */
  padding: 0rem 1rem;
  border: 1px solid rgba(0, 0, 255, 0.7);
  background-color: transparent;
  color: rgb(0, 0, 255);
}

#myUploadBtn:hover {
  cursor: pointer;
  color: rgb(0, 153, 255);
  background-color: rgba(0, 0, 255, 0.1);
}

#myVisualizeBtn {
  border-radius: 2px;
  height: 2rem;
  /* width: 10rem; */
  padding: 0rem 1rem;
  background-color: transparent;
  color: rgb(var(--accent));
  border: 1px solid rgba(124, 58, 237, 0.7)
}

#myVisualizeBtn:hover {
  cursor: pointer;
  color: rgb(146, 50, 255);
  background-color: rgba(124, 58, 237, 0.1);
}

#uploadedFilesDetailsContainer {
  color: green;
}

.filePropId mark {
  background-color: none;
}

.filePropValue {
  /* mark{ */
  color: blue;
  background-color: red;
  /* } */
}

#individualFileName {
  background: none;
}

#formSubmitButton {
  /* border: 1px solid rgb(120, 239, 166);
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  color: rgb(120, 239, 166);
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
 */

  border-radius: 2px;
  height: 2rem;
  /* width: 10rem; */
  padding: 0rem 1rem;
  border: 1px solid rgba(120, 239, 166, 0.7);
  background-color: transparent;
  color: rgb(120, 239, 166);
}

#formSubmitButton:hover {
  cursor: pointer;
  background-color: rgba(120, 239, 166, 0.1);
}

#formSubmitButton:active {
  background-color: transparent;
}