#saveBtn {
  border-radius: 2px;
  height: 2rem;
  /* width: 10rem; */
  padding:0rem 1rem;
  background-color: transparent;
  color: rgb(218, 98, 196);
  cursor: pointer;
  border: solid 1px rgba(218, 98, 196,0.7);
  
}

#saveBtn:hover {
  background-color: rgba(218, 98, 196, 0.1);
  color: rgb(255, 62, 191);
}


#saveButtonDisplayed {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#saveButtonNotDisplayed {
  display: none;
}
