.SignInContainer {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  
  .LoginContainer h3 {
    /* background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(120, 239, 166);
  }
  
  .InputFieldContainer p {
    color: #959557;
    opacity: 0.7;
  }
  
  .InputFieldContainer input[type="email"] {
    width: 195px;
    border: black 1px solid;
    border-radius: 3px;
    height: 25px;
    background-color: rgb(16, 16, 56);
    color: white;
    opacity: 0.7;
    /* text-align: center; */
  }
  
  .InputFieldContainer input[type="email"]:focus {
    outline: none;
    opacity: 1;
  }
  
  .InputFieldContainer input[type="password"] {
    width: 195px;
    border: black 1px solid;
    border-radius: 3px;
    height: 25px;
    background-color: rgb(16, 16, 56);
    color: white;
    opacity: 0.7;
    /* text-align: center; */
  }
  
  .InputFieldContainer input[type="password"]:focus {
    outline: none;
    opacity: 1;
  }
  
  .SubmitButtonContainer button {
    background-color: rgb(8, 8, 36);
    width: 200px;
    cursor: pointer;
    height: 25px;
    text-align: center;
    color: #959557;
    border: black 1px solid;
    border-radius: 3px;
    opacity: 0.7;
    margin-top: 20px;
    font-size: 15px;
  }
  
  .SubmitButtonContainer button:hover {
    opacity: 0.8;
  }
  
  #alternativeChoice {
    color: rgb(120, 239, 166);
  }
  