---
---

<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro JS 404 Page</title>
	</head>

	<body>
		<main class="container">
			<section class="content">
				<h1>Page not found!</h1>
				<p>
					Path not recognised&hellip; <a
						aria-label="Return to home page"
						href="/"
						>Go&nbsp;home?
					</a>
				</p>
			</section>
		</main>
	</body>
</html>