#saveBtn {
  border-radius: 0.2rem;
  height: 2rem;
  width: 10rem;
  background-color: rgb(8, 8, 36);
  color: rgb(8, 8, 36);
  cursor: pointer;
  border: none;
  background-image: linear-gradient(-35deg, #baef89 40%, #8995ef);
}

#saveButtonDisplayed {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#saveButtonNotDisplayed {
  display: none;
}
